<!doctype html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./../static/upload.css"/>
    </head>
    <h1>Upload Image</h1>
    <form action="" method=post enctype=multipart/form-data>
      <div id="main"><input type=file name=file id="upload" class="btn btn-primary">
          <input type=submit value=Upload id = "submit" class="btn btn-primary"></div>
    </form>

{% block content %}{% endblock %}